:root {
    --background-colour: #e7f7f8f0;
    --text-colour: #4e0489;
    --alt-background-colour: #05a3aff9;
    --alt-text-colour: #d3a9f5;
}

#content {
    display: flex;
    flex-direction: column;
}

#content div {
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

* {
    padding: 6px;
}

body {
    font-family: 'Courier New', Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--background-colour);
    color: var(--text-colour);
}

img {
    max-height: 600px;
    max-width: fit-content;
    opacity: 0.5;
}

h1 {
    font-weight: 800;
    font-size: 4em;
}

button {
    padding: 6px 40px;
    border-radius: 6px;
    color: var(--background-colour);
    background-color: var(--text-colour);
}

button:hover {
    color: var(--alt-text-colour);
    background-color: var(--alt-background-colour);
    border: none;
    padding: 10px 50px;
}

ul {
    display: inline-block;
    text-align: left;
}

.background-image {
    background-image: url('./restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 800px;
    max-height: fit-content;

}